---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Why blog">
    <main>
        <h1 class="post-title">Why create a blog</h1>
        <p class="post-date">2022 Nov 29</p>
        <h3>Introduction</h3>
            <p>
                It's Nov 29th. 8:58pm. I'm sitting on my couch writing for the blog. Why, though? Don't get me wrong, it's a pretty comfortable couch... But I could be doing any number of things with my time right now. I'm choosing to sit here and write this blog post -- which happens to also be my first blog post ever (woo!). If you're like me and subscribe to the idea that time is our most valuable asset, then you might be wondering why I'm investing time in the blog. Great question! Allow me to describe why I think a blog is useful, especially for software developers.
            </p>
        <h3>Personal brand</h3>
            <p>
                An underrated aspect of blogging (or sharing publicly in general) is building your own personal brand. The more you share publicly about who you are and what you've done, the more people get to know you (obviously) and more importantly the more they know/trust your skillset. For example, I like writing python code. If I have hundreds of blog posts about the nuances of python, how to write python more effectively, the best ways to test python code, etc. then eventually I'll become a known subject matter resource. It can get more specialized, too. For example, if I also blog about django, a python web framework, then I can become known as a resource for that within the broader python community. The benefit of being known in certain communities? Well, a major benefit other folks have experienced is getting either consulting work in your area of expertise, or even salaried job offers. There's a reason large companies like Apple and Nike spend BILLIONS in advertising that stregthens their brand: brands are valuable. One of my favorite quotes (paraphrased) on the power of branding comes from the GOAT <a href="https://twitter.com/saylor" target="_blank">Michael Saylor</a>: 
            </p>
            <p class="quote">
                "Take Coca-Cola as an example. If you destroyed all their factories, destroyed every bottle of coke and all their physical assets, fired every employee, and there was nothing left, the company would still be worth $50-100bn because the brand remains."
            </p>
            <p>
                That's the power of branding. And if you can apply it to yourself and your career, I believe it'll add great value.
            </p>
        <h3>Feedback</h3>
            <p>
                Many people have things they work on in their spare time. For software folks it is often software projects. This blog is a good example since I wrote the code for it to learn a new tool. But it doesn't have to be software -- it could be anything. A dining room table you're building in your workshop. A mountaineering trip you're training for. Whatever it is you happen to be doing, if you take some time to document it, then people who consume your content are likely to give you feedback on it. At least that's what I've heard. I can't speak from personal experience since again this is my first post :). I can imagine a world where that feedback is valuable. Someone might save you some time and hassle if they suggest a superior way to fasten the legs of the table to the tabletop in your woodworking project. Or they might even save your life if they suggest safety equipment to bring on the mountaineering trip. But feedback is particularly potent for projects you want to commercialize. The only way to be a successful entrepreneur is to create something the market wants that you can produce profitably. And the only way to determine what the market wants is to make things and present them in the marketplace. Early project feedback as you're building in public represents the whispers of the market speaking to you.
            </p>
        <h3>Distribution</h3>
            <p>
                Speaking of working on projects you hope to one day commercialize, there's a funny meme in the entreprenuerial world about naive founders undervaluing distribution before wisening up.
            </p>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">First time founders are obsessed with product.<br><br>Second time founders are obsessed with distribution.</p>&mdash; Justin Kan ❄️ (@justinkan) <a href="https://twitter.com/justinkan/status/1059989657218248704?ref_src=twsrc%5Etfw">November 7, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <p>
                What is meant by distribution here? From <a href="https://en.wikipedia.org/wiki/Distribution_(marketing)" target="_blank">wikipedia</a>:
            </p>
            <p class="quote">
                "Distribution is fundamentally concerned with ensuring that products reach target customers in the most direct and cost-efficient manner."
            </p>
            <p>
                I like to think about distribution as how easily you can get your product into as many hands as possible. For a physical product, that might mean optimizing shipping routes and costs, getting shelf space at retailers, etc. For a digital product it probably means making potential customers aware that your product exists among the many other things competing for their attention. When a blog (or other forms of sharing publicly e.g. twitter account, email newsletter) gets popular enough, you now have a captive audience who know you, trust you, and might be potential customers. You can sell directly to your audience and jumpstart any product launch. The larger your audience, the greater the jumpstart. That's why someone like Dharmesh Shah (CTO/co-founder of Hubspot) can build a <a href="https://www.youtube.com/watch?v=q09rCxEBApU" target="_blank">word game website in a weekend, and it'd make $90,000/month quickly</a> if he chose to put ads on it. He already has a large following so when he finished the game, he announced it to his followers and had immidiate users/results. Instant distribution. If you contrast that with someone who has no audience, they'd have to spend a ton of money on advertising to get the same amount of reach and attention that Dharmesh got for free. Powerful. And probably a good reason to start a blog (or email newsletter or twitter account).
            </p>
        <h3>Other folks share</h3>
            <p>
                Another reason to blog or share publicly is because other people I respect, who have results that I want to also acheive, are doing so. Before I share some examples of these people I first want to give credit to Ali Abdaal for highlighting the 'build in public' theme and making me aware of it. Because, to be honest, I was already following some of these people and consuming their content without being fully aware . Ali talks about building in public and sharing your work in several places e.g. <a href="https://aliabdaal.com/learn-in-public-it-s-great-268305/">here in his newletter</a> and <a href="https://www.youtube.com/watch?v=awnn-bqV_Tw&t=41s">here in a youtube video</a>. Ali also recommends Austin Kleon's book <a href="https://www.amazon.com/exec/obidos/ASIN/076117897X">Show Your Work</a> which I purchased, read, and think was worth investing in.
            </p>
                So who are some people I follow who build in public? Pieter Levels (<a href="https://twitter.com/levelsio?s=20&t=5otSrdNend4hHUBfLjGAkA">@levelsio</a>) is a self-taught software dev. He's coded a bunch of projects and some of them started making money. One thing I love about Pieter is he has some serious results (makes $2.7M / year currently) while neglecting what many would consider good practices for building software. For example, he uses php and vanilla js/css with no version control and pushes code straight to prod. Perhaps a good topic for another post is why this works for him and what's <em>actually</em> important when building monetizable apps. He also loves building new things and sharing on twitter as he builds. A recent example of this is how he built <a href="https://interiorai.com/">interiorai.com</a> which takes photos from users and uses AI to generate renderings of the user's room redecorated. Here are some example tweets from him as he was building this project. Notice that he doesn't post just the good. He also posts the very beginning stages of the project before he knows if it'll work, and when things go wrong/he has questions:
            <p>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Required email now to render so I collect more emails of which a % may convert to paying user once I have Stripe Checkout working <a href="https://t.co/UZ9r99waPi">pic.twitter.com/UZ9r99waPi</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1577339544235565065?ref_src=twsrc%5Etfw">October 4, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <p>
                Notice he didn't initially build out an auth/login system:
            </p>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">First paying customers for <a href="https://t.co/eNKgTD1KqW">https://t.co/eNKgTD1KqW</a> @ $24/mo and $29/mo! I sent them a quick link with ?secret_code to use it unlimited. Will build a user login if I have &gt;10 customers! <a href="https://t.co/EOy5OmUuzj">https://t.co/EOy5OmUuzj</a> <a href="https://t.co/NVqpE4ni4P">pic.twitter.com/NVqpE4ni4P</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1577663374703431681?ref_src=twsrc%5Etfw">October 5, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <p>
                Testing different prices:
            </p>
            <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true"><p lang="en" dir="ltr">Current customers (/mo), $29 seems like clear winner<br><br>$69.00<br><br>$34.00<br><br>$29.00<br>$29.00<br>$29.00<br>$29.00<br>$29.00<br><br>$24.00<br><br>$7.99<br>$7.99<br>$7.99</p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1577763803281985537?ref_src=twsrc%5Etfw">October 5, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Anyone know how to deal with this?<br><br>Stripe sends a customer.subscription.created event, even when the subscription failed to charge<br><br>How do I know when to create the user account when they sign up? And when not? What&#39;s standard? <a href="https://t.co/17ue07Qgm7">pic.twitter.com/17ue07Qgm7</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1578492291299147776?ref_src=twsrc%5Etfw">October 7, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">🎉 Passed $1,000/mo MRR after 6 days of adding Stripe Checkout to <a href="https://t.co/eNKgTD2igu">https://t.co/eNKgTD2igu</a> with 46 customers! <br><br>Thanks everyone for RT&#39;ing etc, very fun to build a new business so fast <a href="https://t.co/NAVT2CyjI4">pic.twitter.com/NAVT2CyjI4</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1579498045393494017?ref_src=twsrc%5Etfw">October 10, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" data-conversation="none" data-dnt="true"><p lang="en" dir="ltr">It&#39;s having some difficulties with the window with plants, as it detects those as PLANTS not WINDOW, so it doesn&#39;t cut it off the mask</p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1582869144181276672?ref_src=twsrc%5Etfw">October 19, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">✨ <a href="https://t.co/vxZ3oJMDkd">https://t.co/vxZ3oJMDkd</a> is on the frontpage of the New York Times today!!!! 🥳🎊🎉<br><br>Thx to <a href="https://twitter.com/isabella_orsi?ref_src=twsrc%5Etfw">@isabella_orsi</a> for mentioning it 😊<a href="https://t.co/GMTghAiC64">https://t.co/GMTghAiC64</a> <a href="https://t.co/GR554Zu5fO">pic.twitter.com/GR554Zu5fO</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1583460953609601024?ref_src=twsrc%5Etfw">October 21, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">🏡 <a href="https://t.co/vxZ3oJMDkd">https://t.co/vxZ3oJMDkd</a> is still growing steadily, now $6,539 MRR with 220 active customers @ ~$29/mo<br><br>Didn&#39;t have time to work on this week but will start adding new features like wall painting next week! <a href="https://t.co/TlXcwbYuoz">pic.twitter.com/TlXcwbYuoz</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1588245994235629568?ref_src=twsrc%5Etfw">November 3, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">✨ Added new press mentions to <a href="https://t.co/JWfbxSX1ou">https://t.co/JWfbxSX1ou</a> checkout!<br><br>Randomly found this site when searching for logos which gives me some idea what home magazines to do outreach to (I haven&#39;t until now) <a href="https://t.co/j0Q6DmRQQZ">https://t.co/j0Q6DmRQQZ</a> <a href="https://t.co/aOcg7XvPXA">pic.twitter.com/aOcg7XvPXA</a></p>&mdash; @levelsio (@levelsio) <a href="https://twitter.com/levelsio/status/1590401305121796096?ref_src=twsrc%5Etfw">November 9, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <p>
            Pieter then went through a similar process with his next idea, <a href="https://avatarai.me">https://avatarai.me</a>. That idea turned out to be lucrative enough that others started building similar sites. <a href="https://twitter.com/dannypostmaa" target="_blank">Danny Postma</a> was one of those people, and he and Pieter had a friendly rivalry on twitter as both frantically shipped features on their respective sites. 
        </p>
        <p>
            <a href="https://twitter.com/t3dotgg">Theo Brown</a> is another "software dev influencer" who <a href="https://www.twitch.tv/theo">streams on twitch</a> and <a href="https://www.youtube.com/c/theobrowne1017">makes youtube videos</a> while also <a href="https://ping.gg/">building a startup</a>.
        </p>
        <p>
            Even Elon Musk recently made some build-in-public themed tweets after he bought twitter.
        </p>
        <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Twitter is purging a lot of spam/scam accounts right now, so you may see your follower count drop</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1598157971384463360?ref_src=twsrc%5Etfw">December 1, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Twitter is purging a lot of spam/scam accounts right now, so you may see your follower count drop</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1598157971384463360?ref_src=twsrc%5Etfw">December 1, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Just leaving Twitter HQ code review <a href="https://t.co/pYcXRTJm14">pic.twitter.com/pYcXRTJm14</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1593899029531803649?ref_src=twsrc%5Etfw">November 19, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">Am I the only who thinks it’s cool to see Elon Musk literally “build in public” re: his takeover of Twitter. It’s not something that one gets to witness often. I don’t think the site is ruined, my experience on it has remained unchanged.</p>&mdash; roobz 🌙 🌸 (@tishray) <a href="https://twitter.com/tishray/status/1591247520856170497?ref_src=twsrc%5Etfw">November 12, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <h3>Conclusion</h3>
            <p>
                Thanks for sticking with me to the end. I hope I've laid out a compelling case for sharing publicly and perhaps even some of you will start doing so. If you have any feedback for me, about the blog or otherwise, please reach out!
            </p>
            <p>cheers</p>
    </main>
</Layout>

<style>
    .post-title {
        font-family: protipo-wide,sans-serif;
        font-weight: 700;
        font-style: normal;
    }
</style>
