---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Why blog">
    <main>
        <h1 class="post-title">Why create a blog</h1>
        <p class="post-date">2022 Nov 29</p>
        <h3>Introduction</h3>
            <p>
                It's Nov 29th. 8:58pm. I'm sitting on my couch writing for the blog. Why, though? Don't get me wrong, it's a pretty comfortable couch... But I could be doing any number of things with my time right now. I'm choosing to sit here and write this blog post &#8212; which happens to also be my first blog post ever (woo!). If you're like me and subscribe to the idea that time is our most valuable asset, then you might be wondering why I'm investing time in the blog. Great question! Allow me to describe why I think a blog is useful, especially for software developers.
            </p>
        <h3>Personal brand</h3>
            <p>
                An underrated aspect of blogging (and public sharing in general) is building your own personal brand. The more you share publicly about who you are and what you've done, the more people get to know you (obviously) and more importantly the more they know/trust your skillset.
            </p>
            <p>
                For example, I like writing python code. If I have hundreds of blog posts about the nuances of python, how to write python more effectively, python unit testing techniques, etc. then eventually I'll become a known subject matter resource. It can get more specialized, too. For example, if I also blog about django, a python web framework, then I can become known as a resource for that within the broader python community. 
            </p>
            <p>
                The benefit of being known in certain communities? Well, a major benefit other folks have experienced is either landing consulting work in your area of expertise, or being offered salaried job opportunities. There's a reason large companies like Apple and Nike spend BILLIONS in advertising to stregthen their brand: brands are valuable. One of my favorite quotes (paraphrased) on the power of branding comes from the GOAT <a href="https://twitter.com/saylor" target="_blank">Michael Saylor</a>: </p> <p class="quote"> "Take Coca-Cola as an example. If you destroyed all their factories, destroyed every bottle of coke and all their physical assets, fired every employee, and there was nothing left, the company would still be worth $50-100bn because the brand remains." </p>
            <p>
                That's the power of branding. And if you can apply it to yourself and your career, I believe it'll add great value.
            </p>
        <h3>Feedback</h3>
            <p>
                Many people have things they work on in their spare time. For software folks it is often software projects. This blog is a good example since I wrote the code for it, in part, to learn a new tool. But it doesn't have to be software -- it could be anything. A dining room table you're building in your workshop. A mountaineering trip you're training for. Whatever it is you happen to be doing, if you take some time to document it, then people who consume your content are likely to give you feedback on it. At least that's what I've heard. I can't speak from personal experience since again this is my first post :).
            </p>
            <p>
                I can imagine a world where that feedback is valuable. Someone might save you some time and hassle if they suggest a superior way to fasten the legs of the table to the tabletop in your woodworking project. Or they might even prevent an injury if they suggest safety equipment to bring on the mountaineering trip. But feedback is particularly potent for projects you want to commercialize.
            </p>
            <p>
                The only way to be a successful entrepreneur is to create something the market wants. And the only way to determine what the market wants is to make things and present them in the marketplace. Early project feedback as you're building in public represents the whispers of the market speaking to you.
            </p>
        <h3>Distribution</h3>
            <p>
                Speaking of working on projects you hope to one day commercialize, there's a funny meme in the entreprenuerial world about naive founders undervaluing distribution before wisening up.
            </p>
            <div class="my-12">
                <blockquote class="twitter-tweet tw-align-center" data-dnt="true"><p lang="en" dir="ltr">First time founders are obsessed with product.<br><br>Second time founders are obsessed with distribution.</p>&mdash; Justin Kan ❄️ (@justinkan) <a href="https://twitter.com/justinkan/status/1059989657218248704?ref_src=twsrc%5Etfw" target="_blank">November 7, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <p>
                What is meant by distribution here? From <a href="https://en.wikipedia.org/wiki/Distribution_(marketing)" target="_blank">wikipedia</a>:
            </p>
            <p class="quote">
                "Distribution is fundamentally concerned with ensuring that products reach target customers in the most direct and cost-efficient manner."
            </p>
            <p>
                I like to think about distribution as how easily you can get your product into as many hands as possible. For a physical product, that might mean optimizing shipping routes and costs, getting shelf space at retailers, etc. For a digital product it probably means making potential customers aware that your product exists among the many other things competing for their attention.
            </p>
            <p>
                When a blog (or other forms of public sharing e.g. twitter account, email newsletter) gets popular enough, you now have a captive audience who know you, trust you, and might be potential customers. You can sell directly to your audience and jumpstart any product launch. The larger your audience, the greater the jumpstart. That's why someone like Dharmesh Shah (CTO/co-founder of Hubspot) can build a <a href="https://www.youtube.com/watch?v=q09rCxEBApU" target="_blank">word game website in a weekend, and it'd make $90,000/month quickly</a> if he chose to put ads on it.
            </p>
            <p>
                He already has a large following, so when he finished the game he announced it to his followers and had immidiate users/results. Instant distribution. If you contrast that with someone who has no audience, they'd have to spend a ton of money on advertising to get the same amount of reach and attention that Dharmesh got for free. Powerful. And probably a good reason to start a blog (or email newsletter or twitter account).
            </p>
        <h3>Other folks share</h3>
            <p>
                Another reason to blog or share publicly is because other people I respect, who have results worthy of admiration, are doing so. Before I share some examples of these people I first want to give credit to Ali Abdaal for highlighting the 'build in public' theme for me and bringing it to concious awareness. Because, to be honest, I was already following some of these people and consuming their content without being fully aware that there were building in public and sharing.
            </p>
            <p>
                Ali talks about building in public and sharing your work in several places e.g. <a href="https://aliabdaal.com/learn-in-public-it-s-great-268305/" target="_blank">here in his newletter</a> and <a href="https://www.youtube.com/watch?v=awnn-bqV_Tw&t=41s" target="_blank">here in a youtube video</a>. Ali also recommends Austin Kleon's book <a href="https://www.amazon.com/exec/obidos/ASIN/076117897X" target="_blank">Show Your Work</a> which I purchased, read, and think was well worth the time investment.
            </p>
            <p>
                So who are some people I follow who build in public? Pieter Levels (<a href="https://twitter.com/levelsio?s=20&t=5otSrdNend4hHUBfLjGAkA" target="_blank">@levelsio</a>) is a self-taught software dev. He's coded a bunch of projects and some of them started making money. One thing I love about Pieter is he has some serious results (makes $2.7M / year currently) while neglecting what many would consider good practices for building software. For example, he uses php and vanilla js/css with no version control and pushes code straight to prod. Perhaps a good topic for another post is why this works for him and what's <em>actually</em> important when building monetizable apps.
            </p>
            <p>
                He also loves building new things and sharing on twitter as he builds. A recent example of this is how he built <a href="https://interiorai.com/" target="_blank">interiorai.com</a>, which takes photos of a room from users and uses AI to generate renderings of the room redecorated. Here are some example tweets from him as he was building this project. Notice that he doesn't post just the good. He also posts the very beginning stages of the project before he even knows if it'll work. He's also not afraid to post when things go wrong or when he has questions:
            </p>
            <ul>
                <li><a href="https://twitter.com/levelsio/status/1576987311950397440?s=20&t=dKdYF04Gf_kE6XZ39BFfJw" target="_blank">posts what he made so far on HN</a></li>
                <li><a href=" https://twitter.com/levelsio/status/1577339544235565065?s=20&t=dKdYF04Gf_kE6XZ39BFfJw" target="_blank">starts collecting emails in the web app</a></li>
                <li><a href="https://twitter.com/levelsio/status/1577663374703431681?s=20&t=dKdYF04Gf_kE6XZ39BFfJw" target="_blank">first two paying customers before he even had a login/auth system</a></li>
                <li><a href="https://twitter.com/levelsio/status/1577763803281985537?s=20&t=dKdYF04Gf_kE6XZ39BFfJw" target="_blank">testing different pricing options</a></li>
                <li><a href="https://twitter.com/levelsio/status/1578492291299147776?s=20&t=dKdYF04Gf_kE6XZ39BFfJw" target="_blank">had a question while integrating stripe for payments</a></li>
                <li><a href="https://twitter.com/levelsio/status/1579498045393494017?s=20&t=dKdYF04Gf_kE6XZ39BFfJw" target="_blank">$1000 MRR 6 days after launching</a></li>
                <li><a href="https://twitter.com/levelsio/status/1582869144181276672?s=20&t=dA6B_bGqT6eyleqsSmRjvQ" target="_blank">detecting windows as plants -- oops</a></li>
                <li><a href="https://twitter.com/levelsio/status/1583460953609601024?s=20&t=dA6B_bGqT6eyleqsSmRjvQ" target="_blank">his web app mentioned on front page of new york times</a></li>
                <li><a href="https://twitter.com/levelsio/status/1590401305121796096?s=20&t=5otSrdNend4hHUBfLjGAkA" target="_blank">added press mentions to checkout page</a></li>
                <li><a href="https://twitter.com/levelsio/status/1593262248780349441?s=20&t=5otSrdNend4hHUBfLjGAkA" target="_blank">$6.8k MRR 42 days after launching</a></li>
            </ul>
        <p>
            Pieter then went through a similar process with his next idea, <a href="https://avatarai.me" target="_blank">https://avatarai.me</a>. That idea turned out to be lucrative enough that others started building similar sites. <a href="https://twitter.com/dannypostmaa" target="_blank">Danny Postma</a> was one of those people, and he and Pieter had a friendly rivalry on twitter as both frantically shipped features on their respective sites, all while sharing the journey on their respective twitter accounts. 
        </p>
        <p>
            <a href="https://twitter.com/t3dotgg" target="_blank">Theo Brown</a> is another "software dev influencer" who <a href="https://www.twitch.tv/theo" target="_blank">streams on twitch</a> and <a href="https://www.youtube.com/c/theobrowne1017" target="_blank">makes youtube videos</a> while also <a href="https://ping.gg/" target="_blank">building a startup</a>.
        </p>
        <p>
            Even Elon Musk recently made some build-in-public themed tweets after he bought twitter.
        </p>
        <div class="grid grid-cols-1">
            <blockquote class="twitter-tweet tw-align-center" data-dnt="true"><p lang="en" dir="ltr">Twitter is purging a lot of spam/scam accounts right now, so you may see your follower count drop</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1598157971384463360?ref_src=twsrc%5Etfw">December 1, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet tw-align-center" data-dnt="true"><p lang="en" dir="ltr">Twitter core services latency reduced by ~400ms. Should feel noticeably faster.</p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1597829226572705793?ref_src=twsrc%5Etfw">November 30, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet tw-align-center" data-dnt="true"><p lang="en" dir="ltr">Just leaving Twitter HQ code review <a href="https://t.co/pYcXRTJm14">pic.twitter.com/pYcXRTJm14</a></p>&mdash; Elon Musk (@elonmusk) <a href="https://twitter.com/elonmusk/status/1593899029531803649?ref_src=twsrc%5Etfw">November 19, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <blockquote class="twitter-tweet tw-align-center" data-dnt="true"><p lang="en" dir="ltr">Am I the only who thinks it’s cool to see Elon Musk literally “build in public” re: his takeover of Twitter. It’s not something that one gets to witness often. I don’t think the site is ruined, my experience on it has remained unchanged.</p>&mdash; roobz 🌙 🌸 (@tishray) <a href="https://twitter.com/tishray/status/1591247520856170497?ref_src=twsrc%5Etfw">November 12, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <p class="mt-12">
            If Elon can build in public in front of millions / billions of people, with his $44 billion purchase at stake, there's no excuse for the rest of us not to!
        </p>
        <h3>Conclusion</h3>
            <p>
                Thanks for sticking with me to the end. I hope I've laid out a compelling case for sharing publicly and perhaps even some of you have been catalyzed to start doing so. If you have any feedback for me, about the blog or otherwise, please reach out!
            </p>
    </main>
</Layout>

<style>
    .post-title {
        font-family: protipo-wide,sans-serif;
        font-style: normal;
        letter-spacing: 0.03em;
        @apply text-6xl font-bold mt-28 mb-2;
    }
    .post-date {
        @apply text-base uppercase font-semibold opacity-50 mb-32;
    }
    h3 {
        @apply text-2xl font-bold mt-20 mb-8;
    }
    p {
        @apply text-xl mb-8;
    }
    a {
        @apply text-blue-700 hover:underline hover:text-blue-500; 
    }
    .quote {
        @apply pl-12 sm:pl-20 my-20 italic opacity-70 border-l-4 border-orange-500;
    }
    ul {
        @apply list-disc mb-8 pl-12 sm:pl-20;
    }
    li {
        @apply text-xl pl-4;
    }
    ul li::marker {
        content: "\1F892";
    }
</style>
