---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Why blog">
    <main>
        <h1 class="post-title">Why create a blog</h1>
        <p class="post-date">2022 Nov 29</p>
        <h3>Introduction</h3>
            <p>
                It's Nov 29th. 8:58pm. I'm sitting on my couch writing for the blog. Why though? Don't get me wrong, it's a pretty comfortable couch that's nice to sit on. But I could be doing any number of things with my time right now. I'm choosing to sit here and write this blog post -- which happens to also be my first blog post ever (woo!). If you're like me and subscribe to the idea that time is our most valuable asset, then you might be wondering why I'm investing time in the blog. Great question! Allow me to describe why I think a blog is useful, especially for software developers.
            </p>
        <h3>Personal brand</h3>
            <p>
                An underrated aspect of blogging (or sharing publicly in general) is building your own personal brand. The more you share publicly about who you are and what you've done, the more people get to know you (obviously) and more importantly the more they know/trust your skillset. For example, I like writing python code. If I have hundreds of blog posts about the nuances of python, how to write python more effectively, the best ways to test python code, etc. then eventually I'll become a known subject matter resource. It can get more specialized, too. For example, if I also blog about django, a python web framework, then I can become known as a resource for that within the broader python community. The benefit of being known in certain communities? Well, a major benefit other folks have experienced is getting either consulting work in your area of expertise, or even salaried job offers. There's a reason large companies like Apple and Nike spend BILLIONS in advertising that stregthens their brand: brands are valuable. One of my favorite quotes (paraphrased) on the power of branding comes from the GOAT <a href="https://twitter.com/saylor" target="_blank">Michael Saylor</a>: 
            </p>
            <p class="quote">
                "Take Coca-Cola as an example. If you destroyed all their factories, destroyed every bottle of coke and all their physical assets, fired every employee, and there was nothing left, the company would still be worth $50-100bn because the brand remains."
            </p>
            <p>
                That's the power of branding. And if you can apply it to yourself and your career, I believe it'll add great value.
            </p>
        <h3>Feedback</h3>
            <p>
                Many people have things they work on in their spare time. For software folks it is often software projects. This blog is a good example since I wrote the code for it to learn a new tool. But it doesn't have to be software -- it could be anything. A dining room table you're building in your workshop. A mountaineering trip you're training for. Whatever it is you happen to be doing, if you take some time to document it, then people who consume your content are likely to give you feedback on it. At least that's what I've heard. I can't speak from personal experience since again this is my first post :). I can imagine a world where that feedback is valuable. Someone might save you some time and hassle if they suggest a superior way to fasten the legs of the table to the tabletop in your woodworking project. Or they might even save your life if they suggest safety equipment to bring on the mountaineering trip. But feedback is particularly potent for projects you want to commercialize. The only way to be a successful entrepreneur is to create something the market wants that you can produce profitably. And the only way to determine what the market wants is to make things and present them in the marketplace. Early project feedback as you're building in public represents the whispers of the market speaking to you.
            </p>
        <h3>Distribution</h3>
            <p>
                Speaking of working on projects you hope to one day commercialize, there's a funny meme in the entreprenuerial world about naive founders undervaluing distribution before wisening up.
            </p>
            <blockquote class="twitter-tweet" data-dnt="true"><p lang="en" dir="ltr">First time founders are obsessed with product.<br><br>Second time founders are obsessed with distribution.</p>&mdash; Justin Kan ❄️ (@justinkan) <a href="https://twitter.com/justinkan/status/1059989657218248704?ref_src=twsrc%5Etfw">November 7, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <p>
                What is meant by distribution here? From <a href="https://en.wikipedia.org/wiki/Distribution_(marketing)" target="_blank">wikipedia</a>:
            </p>
            <p class="quote">
                "Distribution is fundamentally concerned with ensuring that products reach target customers in the most direct and cost-efficient manner."
            </p>
            <p>
                I like to think about distribution as how easily you can get your product into as many hands as possible. For a physical product, that might mean optimizing shipping routes and costs, getting shelf space at retailers, etc. For a digital product it probably means making potential customers aware that your product exists among the many other things competing for their attention. When a blog (or other forms of sharing publicly e.g. twitter account, email newsletter) gets popular enough, you now have a captive audience who know you, trust you, and might be potential customers. You can sell directly to your audience and jumpstart any product launch. The larger your audience, the greater the jumpstart. That's why someone like Dharmesh Shah (CTO/co-founder of Hubspot) can build a <a href="https://www.youtube.com/watch?v=q09rCxEBApU" target="_blank">word game website in a weekend, and it'd make $90,000/month immidiately</a> if he chose to put ads on it. He already has a large following so when he finished the game, he announced it to his followers and had immidiate users/results. Instant distribution. If you contrast that with someone who has no audience, they'd have to spend a ton of money on advertising to get the same amount of reach and attention that Dharmesh got for free. Powerful. And probably a good reason to start a blog (or email newsletter or twitter account).
            </p>
        <h3>Other folks share</h3>
    </main>
</Layout>

<style>
    .post-title {
        font-family: protipo-wide,sans-serif;
        font-weight: 700;
        font-style: normal;
    }
</style>
