---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
    <main>
        <h1>Kelby Faessler</h1>
        <p>
            This is a description.
        </p>
    </main>
</Layout>
