---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Kelby's Blog" page="home">
    <main>
        <h1 class="title text-center sm:text-left">Blog Posts</h1>
        <div class="flex flex-row border-b-2 text-xl py-4">
            <p class="basis-1/2">Title</p>
            <p class="basis-1/4">Date</p>
            <p class="basis-1/4">Tags</p>
        </div>
        <a href="/posts/2022_11_29_why_blog">
            <div class="flex flex-row text-xl py-4 hover:bg-orange-100 hover:shadow">
                <p class="basis-1/2">Why blog</p>
                <p class="sm:hidden basis-1/4 opacity-50">2022</p>
                <p class="hidden sm:block basis-1/4 opacity-50">2022 Nov 29</p>
                <p class="basis-1/4 opacity-50">Meta</p>
            </div>
        </a>
        <ul>
            <a href=""></a>
        </ul>
    </main>
</Layout>

<style>
    .title {
        font-family: protipo-wide,sans-serif;
        font-style: normal;
        letter-spacing: 0.03em;
        @apply text-6xl font-medium mt-28 mb-28;
    }
</style>
