---
const { page } = Astro.props;
---

<nav class="mt-2 mb-20">
  <a class={page === "home" ? "active" : ""} href="/">Blog</a>
  <a class={page === "about" ? "active" : ""} href="/about">About</a>
</nav>

<style>
    a {
        @apply text-xl font-medium mr-8 hover:border-b-4 hover:border-orange-200;
    }
    .active {
        @apply border-b-4 border-orange-500;
    }
</style>
